<h2>Log in</h2>
<!--
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
-->
<div class="welcome-animation">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-2">
        <h1 class="blue-txt">Welcome to CFB Journal</h1>
              <!-- <h4>In a point system that calculates your preseason intuition, select the winners of each of the power 5 conferences, along with the final AP Top 5, National Runner-up, and National Champion. Do this and you could win a percentage of the entire jackpot. It's $5 to play and the winner will win a percentage of the overall money pot that's based on the amount of users who play.</h4> -->
              <h4>In a point system that calculates your preseason intuition, select the National Champion and the National Champion Runner-up for a chance to win big! The winner will be required to pick the National Champion and National Champion Runner-Up. Then, it comes down to who accrues the most points through the conferences divisional and conference champion pickems.</h4>
              <hr>
              <h4 class="blue-txt">Picks will be locked on August 26th, 2015.</h4>
              <hr>
              <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

        </div>
      </div>
    </div>
  </div>
</div>
