<%= form_for(@pick) do |f| %>


  <section class="picks-wrap">
      <div class="row">
        <div class="col-sm-16">
          <h2 style="margin-top: 20px;">Select your picks!</h2>
          <hr/>
          <% if @pick.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

              <ul>
              <% @pick.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert alert-info" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <table class="table table-condensed">
            <tr>
              <td>ACC Atlantic</td>
              <td><%= f.collection_select :acc_atlantic, Team.where(:conference => "ACC", :division => "Atlantic"), :id, :name, include_blank: true %></td>
            </tr>
            <tr>
              <td>ACC Coastal</td>
              <td><%= f.collection_select :acc_coastal, Team.where(:conference => "ACC", :division => "Coastal"), :id, :name, include_blank: true %></td>
            </tr>
            <tr>
              <td>ACC Champion</td>
              <td><%= f.collection_select :acc_champ, Team.where(:conference => "ACC"), :id, :name, include_blank: true %></td>
            </tr>
           </table>
        </div>
        <div class="col-sm-5">
          <table class="table table-condensed">
            <tr>
              <td>BIG10 East</td>
              <td><%= f.collection_select :big_ten_east, Team.where(:conference => "BIG10", :division => "East"), :id, :name, include_blank: true %></td>
            </tr>
            <tr>
              <td>BIG10 West</td>
              <td><%= f.collection_select :big_ten_west, Team.where(:conference => "BIG10", :division => "West"), :id, :name, include_blank: true %></td>
            </tr>
            <tr>
              <td>BIG10 Champion</td>
              <td><%= f.collection_select :big_ten_champ, Team.where(:conference => "BIG10"), :id, :name, include_blank: true %></td>
            </tr>
           </table>
        </div>
        <div class="col-sm-5">
          <table class="table table-condensed">
            <tr>
              <td>PAC12 North</td>
              <td><%= f.collection_select :pac_twelve_north, Team.where(:conference => "PAC12", :division => "North"), :id, :name, include_blank: true %></td>
            </tr>
            <tr>
              <td>PAC12 South</td>
              <td><%= f.collection_select :pac_twelve_south, Team.where(:conference => "PAC12", :division => "South"), :id, :name, include_blank: true %></td>
            </tr>
            <tr>
              <td>PAC12 Champion</td>
              <td><%= f.collection_select :pac_twelve_champ, Team.where(:conference => "PAC12"), :id, :name, include_blank: true %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-3">
            <table class="table table-condensed">
              <tr>
                <td>SEC East</td>
                <td><%= f.collection_select :sec_east, Team.where(:conference => "SEC", :division => "East"), :id, :name, include_blank: true %></td>
              </tr>
              <tr>
                <td>SEC West</td>
                <td><%= f.collection_select :sec_west, Team.where(:conference => "SEC", :division => "West"), :id, :name, include_blank: true %></td>
              </tr>
              <tr>
                <td>SEC Champion</td>
                <td><%= f.collection_select :sec_champ, Team.where(:conference => "SEC"), :id, :name, include_blank: true %></td>
              </tr>
            </table>
          </div>
          <div class="col-sm-5">
            <table class="table table-condensed">
              <tr>
                <td>BIG12 Champion</td>
                <td><%= f.collection_select :big_twelve_champ, Team.where(:conference => "BIG12"), :id, :name, include_blank: true %></td>
              </tr>
              <tr>
                <td>National Runner-Up</td>
                <td><%= f.collection_select :nation_runner_up, Team.all, :id, :name, include_blank: true %></td>
              </tr>
              <tr>
                <td>National Champion</td>
                <td><%= f.collection_select :national_champ, Team.all, :id, :name, include_blank: true %></td>
              </tr>
            </table>
          </div>
        </div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    
    <div class="actions">
      <%= f.submit %>
    </div>        
    
  </section>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
      $('.picks-slider').slick({
          arrows: true
      });
  });
</script>
